:root {
}

.site-heading .site-heading-lower {
  font-weight: 300;
}

@media (min-width:992px) {
  .list-hours {
    width: 70%;
    font-size: 1.1rem;
  }
}

.icons-contato {
  margin: 10px;
}

@media (min-width: 300px) {
  #mainNav .navbar-brand {
    font-size: .9em;
  }
}

